{{ block title }}
    {{ if player.dropped == 0 }}Bienvenue à cette expérience en ligne {{ else }} Clotûre des réservations {{ endif }}
{{ endblock }}

{{ block content }}

{{ if player.dropped == 0 }}

Merci d'avoir accepté de participer à cette étude. L'étude est menée par des chercheurs de différents laboratoires en France dont le laboratoire d’économie expérimentale qui vous a invité à participer.
<br><br>
L'étude se fera en deux phases. Lors de la 1ère phase, qui commence aujourd’hui, vous devrez répondre en ligne à un questionnaire, et télécharger une application pour smartphone Android que vous devrez conserver pendant une semaine.
<br>
Lors de la 2ème phase, qui débutera le {{ Constants.Phase2_date }}, vous devrez de nouveau répondre à un questionnaire en ligne.
<br>
Chacune des deux phases de l'étude vous prendra moins de 5 minutes.
<br><br>
Entre les deux phases, nous ne vous demanderons rien d'autre que de conserver l'application installée sur votre smartphone.
<br><br>
Votre participation aux deux phases de l'étude et la conservation de l’application pendant une semaine vous permettront de faire partie d'un tirage au sort.
A la fin de la 2ème phase de l'étude, {{ Constants.probability }} des participants remplissant ces deux conditions seront aléatoirement sélectionnés. Ils recevront la somme de {{ Constants.prize }} chacun.
<br>
Appuyez sur « Suivant » pour continuer.
<br><br>
    {{ next_button }}

{{ else }}

{{ include Constants.DROPPED }}

{{ endif }}
{{ endblock }}